
<footer id="footer">
    @*<div class="footer-header">
        <div class="footer-header-side">
            <p class="footer-header-side-title">NEED HELP?</p>
            <p class="footer-header-side-tel">+7 (495) 580-1111</p>
        </div>
    </div>*@
    <div class="footer-content">
        <div class="container">
            <div class="footer-content-block">
                <h4>Movies</h4>
                <ul class="links">
                    <li><a href="#">New Release</a></li>
                    <li><a href="#">Top Rated</a></li>
                    <li><a href="#">Recommended</a></li>
                </ul>
            </div>
            <div class="footer-content-block">
                <h4>Company</h4>
                <ul class="links">
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
            <div class="footer-content-block">
                <h4>Follow Us</h4>
                <ul class="social">
                    <li class="vk">
                        <a href="1" target="_blank">
                            <i class="fa fa-vk"></i>
                        </a>
                    </li>
                    <li class="facebook">
                        <a href="2" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="twitter">
                        <a href="3" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-content-block">
                <p class="address">
                    Address<br />
                    <a href="#">more information</a>
                </p>
                <p class="coords">
                    <b>Phone:</b><a href="#">9876543321 </a><br />
                    <b>Email:</b> <a href="#">Send Mail</a>
                </p>
                @*<div class="paymethods">
                    <img src="https://d3d5yivzt6e764.cloudfront.net/images/ps/icon-visa.png" alt="VISA">
                    <img src="https://d3d5yivzt6e764.cloudfront.net/images/ps/icon-mastercard.png" alt="MasterCard">
                </div>*@
            </div>
        </div>
    </div>
    <div class="footer-footer">
        <div class="container">
            <p class="copyright">
                &copy; @DateTime.Now.Year MoviesRental
            </p>
        </div>
    </div>
</footer>
