body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error{
    color: red;
}
.input-validation-error{
    border: 2px solid red;
}
.validation-summary-errors {
    color: red;
}
.center {
    margin: auto;
    width: 50%;
    align-content: center
    padding: 10px;
}
    /*-------------------------------------------------------Menu Bar -------------------------------------------------*/
    .menu {
    margin: 0;
    padding: 2px;
    background-color: #2a363f;
}

    .menu .horizontal-menu .heading {
        color: white;
        font-size: 40px;
       font-family: 'Roboto', sans-serif;
    }

    .menu .horizontal-menu {
        list-style: none;
    }

        .menu .horizontal-menu .download {
            float: right;
            margin-right: 15%;
            margin-top: 1.5%;
        }

        .menu .horizontal-menu li {
            display: inline;
            margin: 30px;
        }

            .menu .horizontal-menu li a {
                text-transform: uppercase;
                color: white;
                font-family: sans-serif;
                font-size: 11px;
                text-decoration: none;
                font-weight: bold;
            }

            .menu .horizontal-menu li .login {
                padding-top: 17px;
                clear: both;
                float: right;
                border: 1px solid white;
                width: 150px;
                height: 25px;
                font-size: 12px;
                color: white;
                background-color: transparent;
                border-radius: 20px;
                margin: -5%;
                margin-right: 10px;
                text-align: center;
            }
/*---------------------------------------------------------Menu Bar Ends----------------------------------*/
#footer {
    background: #2a363f;
    width: 100%;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

    #footer .footer-header {
        position: relative;
        height: 129px;
        background: transparent;
        overflow: hidden;
        bottom: 20px;
    }

    #footer .footer-header-side {
        background: #f3f3f3;
        height: 129px;
        position: relative;
        left: -60%;
    }

        #footer .footer-header-side:after {
            content: '';
            width: 70px;
            height: 150px;
            display: block;
            border-bottom-right-radius: 30px;
            background: #f3f3f3;
            position: absolute;
            right: -43px;
            bottom: -1px;
            transform: rotate(20deg);
        }

        #footer .footer-header-side:before {
            content: '';
            width: 50px;
            height: 150px;
            display: block;
            border-bottom-right-radius: 30px;
            background: #000;
            position: absolute;
            right: -53px;
            bottom: -3px;
            transform: rotate(12deg);
        }

    #footer .footer-header-side-title {
        color: #000;
        text-align: right;
        white-space: nowrap;
        position: relative;
        z-index: 1;
        font-weight: 500;
        color: #2a363f;
        letter-spacing: 0.5px;
        padding: 35px 10px 5px 0;
    }

    #footer .footer-header-side-tel {
        color: #000;
        text-align: right;
        white-space: nowrap;
        position: relative;
        z-index: 1;
        color: #3fc35f;
        font-size: 30px;
        font-weight: 900;
        letter-spacing: 1px;
        padding-right: 10px;
    }

    #footer .footer-content {
        font-size: 0;
        padding: 40px 0 60px;
    }

    #footer .footer-content-block {
        width: 25%;
        display: inline-block;
        background: transparent;
        vertical-align: top;
    }

        #footer .footer-content-block h4 {
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 14px;
            font-style: normal;
            font-weight: 500;
            color: #fff;
            letter-spacing: 0.5px;
        }

        #footer .footer-content-block .links {
            margin: 0;
            list-style: none;
        }

            #footer .footer-content-block .links li {
                margin: 4px 0;
            }

                #footer .footer-content-block .links li a {
                    color: #aaa;
                    transition: color 0.3s ease;
                    text-decoration: none;
                    font: 14px 'Open Sans', sans-serif;
                    line-height: 23px;
                }

                    #footer .footer-content-block .links li a:hover {
                        color: #fff;
                    }

        #footer .footer-content-block .social {
            margin: 20px 0 0;
            list-style: none;
        }

            #footer .footer-content-block .social li {
                display: inline-block;
                background: #fff;
                width: 34px;
                height: 34px;
                border-radius: 50%;
                margin-right: 10px;
                text-align: center;
                vertical-align: middle;
                transition: opacity 0.3s ease;
            }

                #footer .footer-content-block .social li:hover {
                    opacity: .5;
                }

                #footer .footer-content-block .social li.vk {
                    background: #56789c;
                }

                #footer .footer-content-block .social li.facebook {
                    background: #2b87c7;
                }

                #footer .footer-content-block .social li.twitter {
                    background: #38c0dd;
                }

                #footer .footer-content-block .social li a i {
                    font-size: 16px;
                    line-height: 34px;
                    color: #fff;
                }

        #footer .footer-content-block .address {
            font: 14px/23px 'Open Sans', sans-serif;
            color: #aaa;
            text-align: right;
            margin-bottom: 20px;
        }

            #footer .footer-content-block .address a {
                font: 12px/23px 'Open Sans', sans-serif;
                color: #aaa;
                transition: color 0.3s ease;
            }

                #footer .footer-content-block .address a:hover {
                    color: #fff;
                }

        #footer .footer-content-block .coords {
            font: 14px/23px 'Open Sans', sans-serif;
            color: #fff;
            text-align: right;
            margin-bottom: 30px;
        }

            #footer .footer-content-block .coords a {
                color: #fff;
                text-decoration: none;
                transition: color 0.3s ease;
            }

                #footer .footer-content-block .coords a:hover {
                    color: #86c724;
                }

            #footer .footer-content-block .coords b {
                color: #aaa;
            }

        #footer .footer-content-block .paymethods {
            text-align: right;
        }

    #footer .footer-footer {
        background: #1c2329;
    }

        #footer .footer-footer .copyright {
            color: #fff;
            font: 13px/93px 'Open Sans', sans-serif;
        }



